<h2>here lies <%= @venue.name %></h2>
<% @venue.attributes.each do |attr_name, attr_value| %>
<p>
  <%= attr_name %>: <%= attr_value %>
</p>
<% end %>

<h3>reviews:</h3>

<% @venue.reviews.each do |review| %>
  <%= render partial: "review", locals: { review: review } %>
<% end %>

<%= link_to "write a new review", new_venue_review_path(@venue) %><br />
<%= link_to "back to index", venues_path %><br />
<%= link_to "edit venue information", edit_venue_path(@venue) %><br />
<%= button_to "delete venue information",
    venue_path(@venue),
    method: :delete,
    confirm:"Really delete it?" %>

