<h2>here lies <%= @venue.name %></h2>

 <div class="venue-image">
  <% if @venue.image_processed? %>
    <%= link_to image_tag(@venue.image_url(:thumb)), @venue if @venue.image? %>
  <% else %>
    <em>Processing...</em>
  <% end %>
</div>

<% @venue.attributes.each do |attr_name, attr_value| %>
  <p>
    <%= attr_name %>: <%= attr_value %>
  </p>
<% end %>

<h3>reviews:</h3>

<% @venue.reviews.each do |review| %>
  <%= render partial: "review", locals: { review: review } %>
<% end %>

<%= link_to "review this venue", new_venue_review_path(@venue) %><br />

<%= link_to "back to index", venues_path %><br />

<% if can? :update, @venue %>
  <%= link_to "edit venue information", edit_venue_path(@venue) %><br />
<% end %>

<% if can? :delete, @venue %>
  <%= button_to "delete venue information",
    venue_path(@venue),
    method: :delete,
    confirm: "Really delete it?" %>
<% end %>

