<p><%= link_to "back to venue page", @venue %></p>
<h2>you are reading a review of <%= @venue.name %></h2>
<% @review.attributes.each do |attr_name, attr_value| %>
<p>
  <%= attr_name %>: <%= attr_value %>
</p>
<% end %>

<% if can? :delete, @review %>
  <%= link_to "edit this review", edit_venue_review_path(@review) %><br />
<% end %>

<% if can? :delete, @review %>
  <%= button_to "delete this review",
    venue_review_path(@venue, @review),
    method: :delete,
    confirm:"Really delete it?" %>
<% end %>

